.container {
    display: grid;
    
    gap: 20px; /* Espaçamento entre as colunas */
    width: 100%;
    grid-template-areas: 
        "esq esq dir dir dir"; /* Nomeando as áreas */
}

.container2 {
    display: grid;
    grid-template-columns: 1fr; /* Uma única coluna para o container2 */
    gap: 20px; /* Espaçamento entre os elementos */
    width: 33vw;
}

.ld_esq {
    grid-area: esq; /* Define a área do lado esquerdo */

}

.ld_dir {
    grid-area: dir; /* Define a área do lado direito */
}

.imagem-principal img {
    max-width: 100%; /* Ajusta a largura máxima para ocupar todo o espaço disponível */
}

.miniaturas {
    display: flex;
    justify-content: center; /* Centraliza as miniaturas horizontalmente */
}

.miniatura {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.miniatura:hover {
    border: 2px solid var(--corlaranja);
}

.informacoes-produto {
    padding: 20px;
}

.informacoes-produto h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: var(--fonte1); /* Utiliza a fonte especificada */
}

.nota-produto {
    color: var(--corlaranja);
    font-size: 20px;
    margin-bottom: 10px;
}

.nota-produto .fa-star {
    color: #ccc;
    cursor: pointer;
}

.nota-produto .checked {
    color: var(--corlaranja);
}

.adicionar-carrinho {
    background-color: var(--corlaranja); 
    color: var(--cor1); 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.adicionar-carrinho:hover {
    background-color: #b47f14;
}
